<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>CC - UANCV</title>
    <link rel="stylesheet" href="webjars/angular-material/1.1.1/angular-material.css"/>
    <script src="webjars/jquery/3.1.1/jquery.js"></script>
    <script src="webjars/angularjs/1.5.8/angular.js"></script>
    <script src="webjars/angular-animate/1.5.8/angular-animate.js"></script>
    <script src="webjars/angular-aria/1.5.8/angular-aria.js"></script>
    <script src="webjars/angular-cookies/1.5.8/angular-cookies.js"></script>
    <script src="webjars/angular-messages/1.5.8/angular-messages.js"></script>
    <script src="webjars/angular-material/1.1.1/angular-material.js"></script>
    <script src="webjars/angular-resource/1.5.8/angular-resource.js"></script>
    <script src="webjars/angular-sanitize/1.5.8/angular-sanitize.js"></script>
    <script src="webjars/angular-translate/2.8.1/angular-translate.js"></script>
    <script src="webjars/angular-translate-loader-partial/2.8.1/angular-translate-loader-partial.js"></script>
    <script src="webjars/angular-ui-router/0.3.0/release/angular-ui-router.js"></script>
</head>
<body >
    <div layout:fragment="content">

    </div>
</body>

</html>