<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>CC - UANCV</title>
    <link rel="stylesheet" href="webjars/angular-material/1.1.1/angular-material.css"/>
    <link rel="stylesheet" href="webjars/datatables/1.10.12/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="webjars/lf-ng-md-file-input/1.4.8/dist/lf-ng-md-file-input.css">
    <link rel="stylesheet" href="app/assets/main.css">


    <script src="webjars/lodash/3.10.1/lodash.js"></script>
    <script src="webjars/jquery/3.1.1/jquery.js"></script>
    <script src="webjars/datatables/1.10.12/media/js/jquery.dataTables.js"></script>

    <script src="webjars/cloudinary-core/2.1.6/cloudinary-core.js"></script>

    <script src="webjars/ng-file-upload-shim/12.0.1/ng-file-upload-shim.js"></script>

    <script src="webjars/angularjs/1.5.8/angular.js"></script>

    <script src="webjars/angular-datatables/0.5.5/dist/angular-datatables.js"></script>

    <script src="webjars/cloudinary_ng/1.0.0/js/angular.cloudinary.js"></script>

    <script src="webjars/ng-file-upload/12.0.1/ng-file-upload.js"></script>

    <script src="webjars/angular-animate/1.5.8/angular-animate.js"></script>
    <script src="webjars/angular-aria/1.5.8/angular-aria.js"></script>
    <script src="webjars/angular-cookies/1.5.8/angular-cookies.js"></script>
    <script src="webjars/angular-messages/1.5.8/angular-messages.js"></script>
    <script src="webjars/angular-material/1.1.1/angular-material.js"></script>
    <script src="webjars/angular-resource/1.5.8/angular-resource.js"></script>
    <script src="webjars/angular-sanitize/1.5.8/angular-sanitize.js"></script>
    <script src="webjars/angular-translate/2.8.1/angular-translate.js"></script>
    <script src="webjars/angular-translate-loader-partial/2.8.1/angular-translate-loader-partial.js"></script>
    <script src="webjars/angular-ui-router/0.3.0/release/angular-ui-router.js"></script>
    <script src="webjars/lf-ng-md-file-input/1.4.8/dist/lf-ng-md-file-input.js"></script>

    <script src="app/main/util.service.js"></script>
</head>
<body >
    <div layout:fragment="content">

    </div>
</body>

</html>