<div flex layout="row" layout-align="end center">
    <md-button aria-label="aria-label" class="md-raised md-accent" ng-click="vm.crearNuevo()">Nuevo
    </md-button>
</div>
<md-content class="md-whiteframe-4dp" layout-padding>
    <div>
        <h1>Lista de Productos</h1>
    </div>
    <table datatable="ng" dt-options="vm.dtOptions" class="row-border hover">
        <thead>
        <tr>
            <th>
                <div class="table-header">
                    <span class="column-title">#</span>
                </div>
            </th>
            <th>
                <div class="table-header">
                    <span class="column-title">Producto</span>
                </div>
            </th>
            <th>
                <div class="table-header">
                    <span class="column-title">Descripci&oacute;n</span>
                </div>
            </th>
            <th><div class="table-header">
                <span class="column-title">Cantidad</span>
            </div></th>
            <th>
                <div class="table-header">
                    <span class="column-title">Precio</span>
                </div>
            </th>
            <th>
                <div class="table-header">
                    <span class="column-title">Imagen</span>
                </div>
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="producto in vm.productos">
            <td class="center">{{$index + 1}}</td>
            <td class="center">{{producto.nombre}}</td>
            <td class="center">{{producto.descripcion}}</td>
            <td class="center">{{producto.cantidad}}</td>
            <td class="center">{{producto.precio | number:2}}</td>
            <td class="center"><img ng-src="{{producto.rutaImagen}}" alt="img" width="30px" height="30px"></td>
            <td>
                <md-button aria-label="aria-label" class="md-raised md-warn" ng-click="vm.editar(producto.id)">Editar
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-content>