<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" lang="es">
<head>
    <title>CC - UANCV</title>
</head>
<body>
<div ng-app="admin" layout:fragment="content" ui-view="admin">

    <script src="app/main/admin/admin.module.js"></script>
    <script src="app/main/admin/productos/productos.module.js"></script>
    <script src="app/main/admin/productos/productos.service.js"></script>
    <script src="app/main/admin/productos/productos.controller.js"></script>
    <script src="app/main/admin/productos/nuevo/productos.nuevo.controller.js"></script>

    <script src="app/main/admin/clientes/clientes.module.js"></script>
    <script src="app/main/admin/clientes/clientes.service.js"></script>
    <script src="app/main/admin/clientes/clientes.controller.js"></script>

    <script src="app/main/admin/ventas/ventas.module.js"></script>
    <script src="app/main/admin/ventas/ventas.service.js"></script>
    <script src="app/main/admin/ventas/ventas.controller.js"></script>
</div>
</body>
</html>