<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" lang="es">
<head>
    <title>CC - UANCV</title>
</head>
<body>
<div ng-app="mainApp" layout:fragment="content" ui-view="mainApp">

    <script src="app/main/login/login.module.js"></script>
    <script src="app/main/login/login.service.js"></script>
    <script src="app/main/login/login.controller.js"></script>

    <script src="app/main/registro/registro.module.js"></script>
    <script src="app/main/registro/registro.service.js"></script>
    <script src="app/main/registro/registro.controller.js"></script>

    <script src="app/main/productos/productos.module.js"></script>
    <script src="app/main/productos/productos.service.js"></script>
    <script src="app/main/productos/productos.controller.js"></script>

    <script src="app/main/carrito/carrito.module.js"></script>
    <script src="app/main/carrito/carrito.service.js"></script>
    <script src="app/main/carrito/carrito.controller.js"></script>

    <script src="app/main/main.module.js"></script>
    <script src="app/main/main.run.js"></script>
</div>
</body>
</html>